In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [2]:
species_info_file = glob.glob("species_info.csv")
observation_file = glob.glob("observations.csv")

species_info_rough = []
for filename in species_info_file:
    data = pd.read_csv(filename)
    species_info_rough.append(data)

species_info = pd.concat(species_info_rough)
    
observation = []
for filename in observation_file:
    data = pd.read_csv(filename)
    observation.append(data)
    
observations = pd.concat(observation)

In [3]:
print(species_info.head(10))
print(species_info.columns)
print(species_info.dtypes)

print(observations.head(10))
print(observations.columns)
print(observations.dtypes)

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus
5   Mammal         Odocoileus virginianus
6   Mammal                     Sus scrofa
7   Mammal                  Canis latrans
8   Mammal                    Canis lupus
9   Mammal                    Canis rufus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
5                                  White-Tailed Deer                 NaN
6                                Feral Hog, Wild Pig                 NaN
7                                             Coyote  Species of Concern
8                                          Gray Wolf          Endangered
9                                           Red Wolf          Endangered
Index(['category', 'scientific_name', 'common_names', 'conservation_status'], dtype='object')
category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object
                     scientific_name                            park_name  \
0                 Vicia benghalensis  Great Smoky Mountains National Park
1                     Neovison vison  Great Smoky Mountains National Park
2                  Prunus subcordata               Yosemite National Park
3               Abutilon theophrasti                  Bryce National Park
4           Githopsis specularioides  Great Smoky Mountains National Park
5  Elymus virginicus var. virginicus               Yosemite National Park
6                   Spizella pusilla            Yellowstone National Park
7                  Elymus multisetus  Great Smoky Mountains National Park
8             Lysimachia quadrifolia               Yosemite National Park
9         Diphyscium cumberlandianum            Yellowstone National Park

   observations
0            68
1            77
2           138
3            84
4            85
5           112
6           228
7            39
8           168
9           250
Index(['scientific_name', 'park_name', 'observations'], dtype='object')
scientific_name    object
park_name          object
observations        int64
dtype: object

In [4]:
print(f"species:{species_info.shape}")
print(f"number of observations: {observations.shape}")

species:(5824, 4)
number of observations: (23296, 3)

In [7]:
print(f"number of species:{species_info.scientific_name.nunique}")
print(f"number of catagories: {species_info.category.nunique()}")
print(f"categories:{species_info.category.unique()}")

number of species:<bound method IndexOpsMixin.nunique of 0       Clethrionomys gapperi gapperi
1                           Bos bison
2                          Bos taurus
3                          Ovis aries
4                      Cervus elaphus
                    ...
5819                 Solanum parishii
5820                    Solanum xanti
5821           Parthenocissus vitacea
5822                Vitis californica
5823              Tribulus terrestris
Name: scientific_name, Length: 5824, dtype: object>
number of catagories: 7
categories:['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

In [10]:
species_info.groupby("category").size()

category
Amphibian              80
Bird                  521
Fish                  127
Mammal                214
Nonvascular Plant     333
Reptile                79
Vascular Plant       4470
dtype: int64

In [11]:
print(f"number of conservation statuses:{species_info.conservation_status.nunique()}")
print(f"unique conservation statuses:{species_info.conservation_status.unique()}")

number of conservation statuses:4
unique conservation statuses:[nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']

In [12]:
print(f"na values:{species_info.conservation_status.isna().sum()}")
print(species_info.groupby("conservation_status").size())

na values:5633
conservation_status
Endangered             16
In Recovery             4
Species of Concern    161
Threatened             10
dtype: int64

In [13]:
print(f"number of observations:{observations.observations.sum()}")

number of observations:3314739

In [14]:
species_info.fillna('No Intervention', inplace=True)
species_info.groupby("conservation_status").size()

conservation_status
Endangered              16
In Recovery              4
No Intervention       5633
Species of Concern     161
Threatened              10
dtype: int64

In [15]:
conservationCategory = species_info[species_info.conservation_status != "No Intervention"]\
    .groupby(["conservation_status", "category"])['scientific_name']\
    .count()\
    .unstack()

conservationCategory

category,Amphibian,Bird,Fish,Mammal,Nonvascular Plant,Reptile,Vascular Plant
conservation_status,,,,,,,
Endangered,1.0,4.0,3.0,7.0,NaN,NaN,1.0
In Recovery,NaN,3.0,NaN,1.0,NaN,NaN,NaN
Species of Concern,4.0,72.0,4.0,28.0,5.0,5.0,43.0
Threatened,2.0,NaN,4.0,2.0,NaN,NaN,2.0